body{
    background-image: url('https://images.unsplash.com/photo-1663497653290-1b8f327096f7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
}
h1{
    font-size: 50px;
    color: blue;
    font-family: 'DM Serif Display', serif;
    font-family: 'Playfair Display', serif;

}
p{
     font-size: 30px;
     word-spacing: 0.5ch;
}